.blocklyPath .blocklyBlockBackground {
  -webkit-text-size-adjust: 100%;
  color: #575e75;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-direction: normal;
  cursor: -webkit-grab;
  stroke: rgb(51, 115, 204);
  fill: rgb(76, 151, 255);
  fill-opacity: 1;
  d: path(
    "m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 145.389 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z"
  );
  stroke-width: 1px;
  box-sizing: border-box;
}
